# Secrets
.env

# Python cache
__pycache__/
**/__pycache__/
*.pyc
*.pyo

# Airflow
logs/

# Virtualenv & pip cache
venv/
pip-cache/

# Terraform
.terraform/
.terraform.lock.hcl
providers/
*.tfstate
*.tfstate.backup
*.tfvars